/* ------------
    RESET
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Rubik Mono One', sans-serif;
}



/* ------------
    HEADER
-------------*/
header nav li {
    display: inline-block;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    position: relative;
}

header nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 10;
}



/* ------------
    MAIN
-------------*/
#first-section {
    background-color: red;
    color: yellow;
}

#second-section {
    background-color: green;
    color: yellow;
}

#third-section {
    background-color: yellow;
    color: green;
}

main > section {
    height: 100vh;
    width: 100%;
    position: relative;
}

section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    max-height: 60%;
}

.caption {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}

