/* ------------
    RESET
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;   
}


/* ------------
    COMMONS
-------------*/
main > section {
    height: 100vh;
}


/* ------------
    HEADER
-------------*/
header nav li {
    display: inline-block;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    position: relative;
}

header nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav {
    position: fixed;
    top: 30px;
    right: 20px;
}






/* ------------
    MAIN
-------------*/
#first-section {
    background-color: red;
}

#second-section {
    background-color: green;
}

#third-section {
    background-color: yellow;
}